<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tools.tvguide"
    android:versionCode="7"
    android:versionName="1.2.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->


    <!-- 有米传媒 Android SDK 所需权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 可选 -->
    <!-- /有米传媒 Android SDK 所需权限 -->

    <application
        android:name="com.tools.tvguide.utils.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/application"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >

        <!-- 发布渠道(可选) -->
        <meta-data
            android:name="APP_CHANNEL"
            android:value="APP市场" />

        <!-- 有米渠道号(可选配置) 渠道号不能带空格，类型为整数 -->
        <meta-data
            android:name="YOUMI_CHANNEL"
            android:value="0" >
        </meta-data>
        <!-- /有米渠道号(可选配置) -->


        <!-- 有米传媒 Android SDK 配置(可直接复制节点) -->
        <!-- SDK 必须配置 -->
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <service
            android:name="net.youmi.android.AdService"
            android:exported="false" >
        </service>

        <receiver
            android:name="net.youmi.android.AdReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- /SDK 必须配置 -->
        <!-- /有米传媒 Android SDK 配置 -->

        <activity
            android:name="com.tools.tvguide.activities.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tools.tvguide.activities.HomeActivity"
            android:label="@string/title_activity_more" >
        </activity>
        <activity
            android:name="com.tools.tvguide.activities.CollectActivity"
            android:label="@string/title_activity_more" >
        </activity>
        <activity
            android:name="com.tools.tvguide.activities.SearchActivity"
            android:label="@string/title_activity_more"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.tools.tvguide.activities.HotActivity"
            android:label="@string/title_activity_more" >
        </activity>
        <activity
            android:name="com.tools.tvguide.activities.MoreActivity"
            android:label="@string/title_activity_more" >
        </activity>
        <activity
            android:name="com.tools.tvguide.activities.ChannellistActivity"
            android:label="@string/title_activity_channellist" >
        </activity>
        <activity
            android:name="com.tools.tvguide.activities.ChannelDetailActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_channel_detail" >
        </activity>
        <activity
            android:name="com.tools.tvguide.activities.CategorylistActivity"
            android:label="@string/title_activity_categorylist" >
        </activity>
        <activity
            android:name="com.tools.tvguide.activities.AlarmAlertActivity"
            android:label="@string/title_activity_alarmalert" >
        </activity>

        <receiver android:name="com.tools.tvguide.components.CallAlarmReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.tools.tvguide.activities.AlarmSettingActivity"
            android:label="@string/title_activity_alarm_setting" >
        </activity>
        <activity
            android:name="com.tools.tvguide.activities.FeedbackActivity"
            android:label="@string/title_activity_feedback" >
        </activity>
        <activity
            android:name="com.tools.tvguide.activities.ProgramActivity"
            android:label="@string/title_activity_program" >
        </activity>
    </application>

</manifest>