<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tools.tvguide"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name="com.tools.tvguide.utils.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/application"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.tools.tvguide.activities.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tools.tvguide.activities.HomeActivity"
            android:label="@string/title_activity_more" >
        </activity>
        <activity
            android:name="com.tools.tvguide.activities.CollectActivity"
            android:label="@string/title_activity_more" >
        </activity>
        <activity
            android:name="com.tools.tvguide.activities.SearchActivity"
            android:label="@string/title_activity_more"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.tools.tvguide.activities.HotActivity"
            android:label="@string/title_activity_more" >
        </activity>
        <activity
            android:name="com.tools.tvguide.activities.MoreActivity"
            android:label="@string/title_activity_more" >
        </activity>
        <activity
            android:name="com.tools.tvguide.activities.ChannellistActivity"
            android:label="@string/title_activity_channellist" >
        </activity>
        <activity
            android:name="com.tools.tvguide.activities.ChannelDetailActivity"
            android:label="@string/title_activity_channel_detail"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="com.tools.tvguide.activities.CategorylistActivity"
            android:label="@string/title_activity_categorylist" >
        </activity>
        <activity
            android:name="com.tools.tvguide.activities.AlarmAlertActivity"
            android:label="@string/title_activity_alarmalert" >
        </activity>

        <receiver android:name="com.tools.tvguide.utils.CallAlarmReceiver" >
        </receiver>

        <activity
            android:name="com.tools.tvguide.activities.AlarmSettingActivity"
            android:label="@string/title_activity_alarm_setting" >
        </activity>
        <activity
            android:name="com.tools.tvguide.activities.FeedbackActivity"
            android:label="@string/title_activity_feedback" >
        </activity>
    </application>

</manifest>